body{
    background-color: rgb(235,117,117);
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: rgb(216,230,224)
}

h1{
    font-family: 'PT Serif', serif;
    text-align: center;
    width: 100%;
    margin: 0px;
}

h4{
    margin: 0px;
}

h3{
    font-family: 'M PLUS 1p', sans-serif;
    text-align: justify;
}

div{
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color:  rgb(235,117,117);
    opacity: 0.7;
}

footer:hover{
    opacity: 1;
}

a{
    text-decoration: none; /* no underline */
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    height: 10%;
    background-color:  rgb(235,117,117, 0.7);
    padding-top: 10%;
}

main{
    margin-top: 20%;
}


@media (min-width: 900px) {
    div {
        padding-left: 20%;
        padding-right: 20%;
    }

    main{
        margin-top: 18%;
    }
  }

  @media (max-width: 730px) {
    h1{
        margin-top: 10%;
    }

    main{
        margin-top: 45%;
    }
  }